@import '../../styles/tools/_tools.mixins';

$tooltip-size: 16px;
$tooltip-max-width: 290px;
$tooltip-arrow-size: 5px;

*:hover + .cb-tooltip {
  pointer-events: initial;
}

.cb-tooltip {
  display: block;
  @include font;

  position: fixed;
  @include shadow;
  @include bordered;

  @include var(font-size, font-size-sm);
  @include var(font-weight, font-weight-default);

  @include transition(opacity transform, $duration: 125ms);

  @include px(spacing-4);
  @include py(spacing-2);

  max-width: $tooltip-max-width;
  width: max-content;
  text-align: center;
  text-transform: none;
  pointer-events: none;

  @include var(z-index, layer-3);

  &.-light {
    @include var(background, color-white);
    @include var(border-color, color-white);
    @include var(color, color-gray-700);
  }

  &.-dark {
    @include var(background, color-gray-700);
    @include var(border-color, color-gray-700);
    @include var(color, color-white);
  }

  &.-success {
    &.-light {
      @include var(background, color-white);
      @include var(border-color, color-white);
      @include var(color, color-success);
    }

    &.-dark {
      @include var(background, color-success);
      @include var(border-color, color-success);
      @include var(color, color-white);
    }
  }

  &.-danger {
    &.-light {
      @include var(background, color-white);
      @include var(border-color, color-white);
      @include var(color, color-danger);
    }

    &.-dark {
      @include var(background, color-danger);
      @include var(border-color, color-danger);
      @include var(color, color-white);
    }
  }

  &.-warn {
    &.-light {
      @include var(background, color-white);
      @include var(border-color, color-white);
      @include var(color, color-warn);
    }

    &.-dark {
      @include var(background, color-warn);
      @include var(border-color, color-warn);
      @include var(color, color-white);
    }
  }

  &.-info {
    &.-light {
      @include var(background, color-white);
      @include var(border-color, color-white);
      @include var(color, color-info);
    }

    &.-dark {
      @include var(background, color-info);
      @include var(border-color, color-info);
      @include var(color, color-white);
    }
  }

  &.-top {
    @include rounded(
      $border-radius: 0.25rem,
      $top-left: true,
      $top-right: true,
      $bottom-left: false,
      $bottom-right: true
    );
  }

  &.-bottom {
    @include rounded(
      $border-radius: 0.25rem,
      $top-left: false,
      $top-right: true,
      $bottom-left: true,
      $bottom-right: true
    );
  }

  &.-right {
    @include rounded(
      $border-radius: 0.25rem,
      $top-left: true,
      $top-right: true,
      $bottom-left: false,
      $bottom-right: true
    );
  }

  &.-left {
    @include rounded(
      $border-radius: 0.25rem,
      $top-left: true,
      $top-right: true,
      $bottom-left: true,
      $bottom-right: false
    );
  }
}
