@import "../../styles/mixins";

.cb-panels {
	width: 100%;
	margin: 0;
	padding: 0;

	& > .panel {
		@include font;

		position: relative;
		display: none;
		animation: cb-animation-enter normal 0.25s ease-out 1;
	}

	& > .panel:target {
		display: block;
		height: 100px;
	}
}
