@import "../../styles/mixins";

.cb-dropdown {
	@include font;

	position: relative;
	display: inline-flex;
	flex-direction: column;

	& > .trigger {
		font-size: $font-size-base;

		text-transform: initial;
	}

	& > .menu {
		position: absolute;
		top: calc(100% - 1px);
		min-width: 10rem;
		max-height: 0;
		overflow-y: auto;

		@include mx($spacing-0);
		margin-bottom: $spacing-0;
		margin-top: $spacing-2;
	}

	& > .menu > .item {
		@include interactable;
		@include disableable;

		@include focusable($color: transparent) {
			z-index: $layer-1;

			// TODO: parameterize the background color
			background: rgba($color-gray-300, 1);
		}

		& > .children {
			@include truncate;

			display: inline-block;

			// TODO: for God's sake get rid of this override
			justify-self: start;
			line-height: 2rem;
			text-align: left;
		}
	}

	& > .menu > .item + .item {
		margin-top: 1px;
	}

	&.-unroll-block {
		& > .menu {
			right: 0 !important;
			left: 0 !important;
		}
	}

	&.-unroll-right {
		& > .menu {
			right: auto;
			left: 0;
		}
	}

	&.-unroll-left {
		& > .menu {
			right: 0;
			left: auto;
		}
	}

	&.is-expanded {
		& > .menu {
			max-height: 240px;
		}
	}
}
