@import '../../styles/tools/_tools.mixins';

.cb-dropdown {
  @include font;

  position: relative;

  display: inline-flex;
  flex-direction: column;

  & > .toggle {
    @include var(font-size, font-size-base);

    text-transform: initial;
  }

  & > .menu {
    position: absolute;

    @include mx(spacing-0);
    @include var(margin-bottom, spacing-0);
    @include var(margin-top, spacing-2);

    top: calc(100% - 1px);

    min-width: 10rem;
  }

  & > .menu > .item {
    @include interactable;
    @include disableable;

    @include focusable($color: transparent) {
      @include var(z-index, layer-1);

      // TODO: parameterize the background color
      @include var(background, color-gray-300);
    }

    & > .children {
      @include truncate;

      display: inline-block;

      // TODO: for God's sake get rid of this override
      justify-self: start;

      line-height: 2rem;
      text-align: left;
    }
  }

  &.-unroll-block {
    & > .menu {
      right: 0 !important;
      left: 0 !important;
    }
  }

  &.-unroll-right {
    & > .menu {
      right: auto;
      left: 0;
    }
  }

  &.-unroll-left {
    & > .menu {
      right: 0;
      left: auto;
    }
  }

  &.is-collapsed {
    & > .menu {
      max-height: 0;
    }
  }
}
