.cb-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > .header,
  & > .body {
    flex: 1;
  }

  & > .header .cell {
    @include var(font-size, font-size-sm);
    @include var(font-weight, font-weight-medium);
    @include var(color, color-gray-500);

    text-decoration: none;
    text-transform: capitalize;
  }
}
