.cb-table {
  display: block;

  @include var(background, color-gray-200);

  & > .row {
    display: flex;

    @include var(background, color-white);
    @include m(spacing-0);
  }

  & > .row .cell {
    flex: 1 0 auto;
  }

  & > .row .header {
    @include var(font-size, font-size-xs);
    @include var(font-weight, font-weight-medium);

    text-decoration: none;
    text-transform: uppercase;
  }
}
