@import "../../styles/mixins";

.cb-table {
	display: flex;
	flex-direction: column;
	width: 100%;

	max-width: initial;

	& > .header,
	& > .body {
		flex: 1;
	}

	& > .header {
		border-color: $color-gray-500;
	}

	& > .header .cell {
		font-size: $font-size-sm;
		font-weight: $font-weight-bold;
		color: $color-gray-500;

		text-transform: capitalize;
		text-decoration: none;
	}
}
