@import '../../styles/tools/tools.mixins';

.cb-radio {
	@include font;
	@include disableable;
	@include interactable;

	align-items: center;
	justify-content: flex-start;
	cursor: pointer;

	.circle {
		@include var(color, color-white);

		position: absolute;
		fill: currentColor;
	}

	.selector {
		@include bordered;
		@include focusable;
		@include disableable($opacity: inherit);

		@include transition(color border-color);

		flex-shrink: 0;
		border-radius: 50%;
		outline: none;
		appearance: none;

		@include var(border-color, color-gray-400);
		@include var(background-color, color-white);

		@include var(height, spacing-4);
		@include var(width, spacing-4);

		&:checked {
			@include var(border-color, color-primary-500);

			~ .circle {
				@include var(color, color-primary-500);
			}
		}
	}

	@include hoverable {
		.selector {
			@include var(border-color, color-gray-500);

			cursor: pointer;

			&:checked {
				@include var(border-color, color-primary-700);

				~ .circle {
					@include var(color, color-primary-700);
				}
			}
		}
	}
}
