.cb-radio {
  @include font;
  @include disableable;
  @include interactable;

  align-items: center;
  justify-content: flex-start;

  .selector:first-of-type {
    @include focusable;
    @include bordered;

    @include transition(color border-color);

    cursor: pointer !important;
    appearance: none;
    outline: none;

    @include var(border-color, color-gray-400);
    @include var(background-color, color-white);

    border-radius: 50%;
    flex-shrink: 0;

    @include var(height, spacing-4);
    @include var(width, spacing-4);

    ~ .circle {
      @include transition(background color);
      @include var(color, color-white);

      fill: currentColor;
      position: absolute;
    }

    &:checked {
      @include var(border-color, color-primary-500);

      ~ .circle {
        @include var(color, color-primary-500);
      }
    }
  }

  @include hoverable {
    .selector {
      @include var(border-color, color-gray-500);

      &:checked {
        @include var(border-color, color-primary-700);

        ~ .circle {
          @include var(color, color-primary-700);
        }
      }
    }
  }
}
