$active-indicator-height: spacing(1);

.cb-tabs {
  @include m(spacing-0);

  @include px(spacing-0);
  @include var(padding-top, spacing-0);
  @include var(padding-bottom, spacing-1);

  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  & > input[type='radio'] {
    @include hidden;
  }

  & > .tab {
    @include font;
    @include transition(background color border opacity, $duration: 0.25s);
    @include interactable;
    @include disableable;

    @include var(z-index, layer-1);

    @include var(color, color-gray-400);
    @include px(spacing-0);
    @include py(spacing-2);
    @include m(spacing-0);

    @include var(background, color-transparent);
    @include var(font-size, font-size-sm);
    @include var(font-weight, font-weight-default);

    position: relative;
    display: inline-flex;
    flex-direction: column;

    cursor: pointer;
    user-select: none;

    // text-transform: uppercase;

    &:not(:last-child) {
      @include my(spacing-0);
      @include var(margin-right, spacing-8);
      @include var(margin-left, spacing-0);

      html[dir='rtl'] & {
        @include var(margin-right, spacing-0);
        @include var(margin-left, spacing-8);
      }
    }

    &:hover:not(.is-active) {
      @include var(color, color-gray-500);
    }

    &.is-active {
      @include var(color, color-primary-600);
      @include var(font-weight, font-weight-medium);
    }

    &.is-hidden {
      @include var(z-index, layer-0);

      visibility: hidden;
      position: absolute;
      right: 0;
    }
  }

  & > .active-indicator {
    @include transition(
      left width,
      $duration: 0.45s,
      $easing: cubic-bezier(0.38, 0.8, 0.32, 1.07)
    );
    @include var(background, color-primary-500);

    display: inline-block;
    position: absolute;
    height: $active-indicator-height;
    width: 0;
    left: 0;
    bottom: 0;
  }

  & > .overflown-tabs {
    margin: 0 0 0 auto;
  }
}
