@import "../../styles/mixins";

$active-indicator-height: $spacing-1;

.cb-tabs {
	@include m($spacing-0);

	@include px($spacing-0);
	padding-top: $spacing-0;
	padding-bottom: $spacing-1;

	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;

	& > input[type="radio"] {
		@include hidden;
	}

	& > .tab {
		@include font;
		@include transition(background color border opacity, $duration: 0.25s);
		@include interactable;
		@include disableable;

		z-index: $layer-1;

		color: rgba($color-gray-400, 1);
		@include px($spacing-0);
		@include py($spacing-2);
		@include m($spacing-0);

		background: transparent;
		font-size: $font-size-sm;
		font-weight: $font-weight-default;

		position: relative;
		display: inline-flex;
		flex-direction: column;
		cursor: pointer;
		user-select: none;

		// text-transform: uppercase;

		&:not(:last-child) {
			@include my($spacing-0);
			margin-right: $spacing-8;
			margin-left: $spacing-0;
		}

		&:hover:not(.is-active) {
			color: rgba($color-gray-500, 1);
		}

		&.is-active {
			color: rgba($color-primary-600, 1);
			font-weight: $font-weight-medium;
		}

		&.is-hidden {
			z-index: $layer-0;

			position: absolute;
			right: 0;
			visibility: hidden;
		}
	}

	& > .active-indicator {
		@include transition(
			left width,
			$duration: 0.45s,
			$easing: cubic-bezier(0.38, 0.8, 0.32, 1.07)
		);
		background: rgba($color-primary-500, 1);

		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 0;
		height: $active-indicator-height;
	}

	& > .overflown-tabs {
		margin: 0 0 0 auto;
	}
}
