@keyframes cb-animation-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes cb-animation-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes cb-animation-enter {
  from {
    transform: translateX(5px);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes cb-animation-enter-up {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes cb-animation-exit-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(5px);
    opacity: 0;
  }
}
