@import '../../styles/index.scss';

.cb-box {
  @include font;
  @include bordered;

  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;

  @include var(column-gap, spacing-2);

  @include m(spacing-0);
  @include px(spacing-4);
  @include py(spacing-2);

  text-decoration: none;

  & > .leading,
  & > .trailing {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include px(spacing-0);
    @include py(spacing-0);
    @include mx(spacing-0);
    @include my(spacing-0);
  }

  & > *:not(.leading):not(.trailing):only-child {
    align-self: center;
    justify-self: center;
  }

  // & > .leading,
  // & > .trailing,
  // & > .children {
  //   pointer-events: none;
  // }
}
