@import "../../styles/mixins";

.cb-box {
	@include font;
	@include bordered;

	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;

	@include m($spacing-0);
	@include px($spacing-4);
	@include py($spacing-2);

	text-decoration: none;

	& > .leading,
	& > .trailing {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		@include px($spacing-0);
		@include py($spacing-0);
		@include mx($spacing-0);
		@include my($spacing-0);
	}

	& > .leading + .children:not(:empty),
	& > .leading + .trailing,
	& > .children:not(:empty) + .trailing {
		@include ml($spacing-2);
	}

	&.-block {
		width: 100%;

		& > .children {
			flex: 1;
		}
	}
}
