@import '../../styles/index.scss';

.cb-box {
  @include font;
  @include bordered;

  display: inline-flex;

  @include m(spacing-0);
  @include px(spacing-4);
  @include py(spacing-2);

  text-decoration: none;

  & > .leading,
  & > .trailing {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include px(spacing-0);
    @include py(spacing-0);
    @include mx(spacing-0);
    @include my(spacing-0);

    line-height: 1rem;
  }

  & > .children {
    display: inline-block;
    text-align: left;
    line-height: 2rem;

    @include px(spacing-0);
    @include py(spacing-0);
    @include mx(spacing-0);
    @include my(spacing-0);
  }

  .leading + .children,
  .children + .trailing,
  .leading + .trailing {
    @include var(margin-left, spacing-4);
  }

  &.-stretched {
    & > .children {
      flex: 1;
    }
  }
}
