.cb-no-border {
  border: none !important;
  border-radius: 0 !important;
}

.cb-no-top-border {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cb-no-right-border {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.cb-no-bottom-border {
  border-bottom: none !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.cb-no-left-border {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.cb-no-padding {
  padding: 0 !important;
}

.cb-no-top-padding {
  padding-top: 0 !important;
}

.cb-no-right-padding {
  padding-right: 0 !important;
}

.cb-no-bottom-padding {
  padding-bottom: 0 !important;
}

.cb-no-left-padding {
  padding-left: 0 !important;
}
