.cb-is-hidden {
  @include hidden;
}

.cb-is-invisible {
  visibility: hidden !important;
}

.cb-is-visually-hidden {
  @include hidden(true);
}

.cb-opacity-0 {
  opacity: 0 !important;
}

.cb-opacity-1 {
  opacity: 1 !important;
}
