@import "../../styles/mixins";

.cb-form-field {
	@include font;
	@include disableable;

	display: flex;
	flex-flow: column;
	justify-content: stretch;
	margin: 0;

	& > .label {
		display: flex;
	}

	&.is-required > .label::before {
		color: $color-danger;

		content: "*";
	}

	& > .prompt {
		@include mt($spacing-1);

		font-size: $font-size-sm;

		display: inline-flex;
	}

	& > .content {
		@include mt($spacing-1);

		display: flex;
		width: 100%;
	}

	&.-success {
		& > .prompt {
			color: $color-success;
		}
	}

	&.-danger {
		& > .prompt {
			color: $color-danger;
		}
	}

	&.-warn {
		& > .prompt {
			color: $color-warn;
		}
	}

	&.-info {
		& > .prompt {
			color: $color-info;
		}
	}

	& + & {
		margin-top: $spacing-4;
	}

	&:last-of-type {
		margin-bottom: $spacing-4;
	}
}
