@import "../../styles/mixins";

.cb-input-wrapper {
	@include transition(all);

	@include rounded(0);

	@include focusable {
		border-color: rgba($color-primary-400, 1);
	}

	@include hoverable {
		border-color: rgba($color-gray-500, 1);
	}

	&.-success {
		border-color: rgba($color-success, 1);
	}

	&.-danger {
		border-color: rgba($color-danger, 1);
	}

	&.-warn {
		border-color: rgba($color-warn, 1);
	}

	&.-info {
		border-color: rgba($color-info, 1);
	}
}

.cb-input {
	@include transition(all);

	@include font;

	@include disableable;

	// @include bordered;
	@include rounded;

	background: rgba($color-white, 1);
	border-color: rgba($color-gray-400, 1);
	color: rgba($color-gray-600, 1);
	caret-color: rgba($color-primary-400, 1);

	@include px($spacing-0);
	@include py($spacing-2);

	height: 40px;
	outline: none !important;
}
