// colors
$color-primary-100: var(--cb-color-primary-100);
$color-primary-200: var(--cb-color-primary-200);
$color-primary-300: var(--cb-color-primary-300);
$color-primary-400: var(--cb-color-primary-400);
$color-primary-500: var(--cb-color-primary-500);
$color-primary-600: var(--cb-color-primary-600);
$color-primary-700: var(--cb-color-primary-700);
$color-primary-800: var(--cb-color-primary-800);
$color-primary-900: var(--cb-color-primary-900);
$color-secondary-100: var(--cb-color-secondary-100);
$color-secondary-200: var(--cb-color-secondary-200);
$color-secondary-300: var(--cb-color-secondary-300);
$color-secondary-400: var(--cb-color-secondary-400);
$color-secondary-500: var(--cb-color-secondary-500);
$color-secondary-600: var(--cb-color-secondary-600);
$color-secondary-700: var(--cb-color-secondary-700);
$color-secondary-800: var(--cb-color-secondary-800);
$color-secondary-900: var(--cb-color-secondary-900);
$color-terciary-100: var(--cb-color-terciary-100);
$color-terciary-200: var(--cb-color-terciary-200);
$color-terciary-300: var(--cb-color-terciary-300);
$color-terciary-400: var(--cb-color-terciary-400);
$color-terciary-500: var(--cb-color-terciary-500);
$color-terciary-600: var(--cb-color-terciary-600);
$color-terciary-700: var(--cb-color-terciary-700);
$color-terciary-800: var(--cb-color-terciary-800);
$color-terciary-900: var(--cb-color-terciary-900);
$color-white: var(--cb-color-white);
$color-black: var(--cb-color-black);
$color-background: var(--cb-color-background);
$color-red-100: var(--cb-color-red-100);
$color-red-200: var(--cb-color-red-200);
$color-red-300: var(--cb-color-red-300);
$color-red-400: var(--cb-color-red-400);
$color-red-500: var(--cb-color-red-500);
$color-red-600: var(--cb-color-red-600);
$color-red-700: var(--cb-color-red-700);
$color-red-800: var(--cb-color-red-800);
$color-red-900: var(--cb-color-red-900);
$color-blue-100: var(--cb-color-blue-100);
$color-blue-200: var(--cb-color-blue-200);
$color-blue-300: var(--cb-color-blue-300);
$color-blue-400: var(--cb-color-blue-400);
$color-blue-500: var(--cb-color-blue-500);
$color-blue-600: var(--cb-color-blue-600);
$color-blue-700: var(--cb-color-blue-700);
$color-blue-800: var(--cb-color-blue-800);
$color-blue-900: var(--cb-color-blue-900);
$color-green-100: var(--cb-color-green-100);
$color-green-200: var(--cb-color-green-200);
$color-green-300: var(--cb-color-green-300);
$color-green-400: var(--cb-color-green-400);
$color-green-500: var(--cb-color-green-500);
$color-green-600: var(--cb-color-green-600);
$color-green-700: var(--cb-color-green-700);
$color-green-800: var(--cb-color-green-800);
$color-green-900: var(--cb-color-green-900);
$color-gray-100: var(--cb-color-gray-100);
$color-gray-200: var(--cb-color-gray-200);
$color-gray-300: var(--cb-color-gray-300);
$color-gray-400: var(--cb-color-gray-400);
$color-gray-500: var(--cb-color-gray-500);
$color-gray-600: var(--cb-color-gray-600);
$color-gray-700: var(--cb-color-gray-700);
$color-gray-800: var(--cb-color-gray-800);
$color-gray-900: var(--cb-color-gray-900);
$color-warn: var(--cb-color-warn);
$color-success: var(--cb-color-success);
$color-danger: var(--cb-color-danger);
$color-info: var(--cb-color-info);

// layers
$layer-0: var(--cb-layer-0);
$layer-1: var(--cb-layer-1);
$layer-2: var(--cb-layer-2);
$layer-3: var(--cb-layer-3);

// spacing
$spacing-0: var(--cb-spacing-0);
$spacing-1: var(--cb-spacing-1);
$spacing-2: var(--cb-spacing-2);
$spacing-3: var(--cb-spacing-3);
$spacing-4: var(--cb-spacing-4);
$spacing-5: var(--cb-spacing-5);
$spacing-6: var(--cb-spacing-6);
$spacing-8: var(--cb-spacing-8);
$spacing-10: var(--cb-spacing-10);
$spacing-12: var(--cb-spacing-12);
$spacing-16: var(--cb-spacing-16);

// font-sizes
$font-size-xs: var(--cb-font-size-xs);
$font-size-sm: var(--cb-font-size-sm);
$font-size-base: var(--cb-font-size-base);
$font-size-lg: var(--cb-font-size-lg);
$font-size-xl: var(--cb-font-size-xl);
$font-size-2xl: var(--cb-font-size-2xl);
$font-size-3xl: var(--cb-font-size-3xl);
$font-size-4xl: var(--cb-font-size-4xl);
$font-size-5xl: var(--cb-font-size-5xl);
$font-size-6xl: var(--cb-font-size-6xl);

// font-weights
$font-weight-light: var(--cb-font-weight-light);
$font-weight-default: var(--cb-font-weight-default);
$font-weight-medium: var(--cb-font-weight-medium);
$font-weight-bold: var(--cb-font-weight-bold);

// font-families
$font-family-default: var(--cb-font-family-default);

// line-heights
$line-height-tight: var(--cb-line-height-tight);
$line-height-snug: var(--cb-line-height-snug);
$line-height-default: var(--cb-line-height-default);
$line-height-relaxed: var(--cb-line-height-relaxed);
