@import "../../styles/mixins";

.cb-checkbox {
	@include font;
	@include disableable;
	@include interactable;

	align-items: center;
	justify-content: flex-start;
	cursor: pointer;

	.check {
		color: rgba($color-white, 1);

		position: absolute;
		fill: currentColor;
	}

	.selector {
		@include bordered;
		@include focusable;
		@include rounded(0);
		@include disableable($opacity: inherit);

		@include transition(background color border-color);

		flex-shrink: 0;
		outline: none;
		appearance: none;

		border-color: rgba($color-gray-400, 1);
		background-color: rgba($color-white, 1);

		height: $spacing-4;
		width: $spacing-4;

		&:checked {
			border-color: rgba($color-primary-500, 1);
			background-color: rgba($color-primary-500, 1);
		}
	}

	@include hoverable {
		.selector {
			border-color: rgba($color-gray-500, 1);

			cursor: pointer;

			&:checked {
				border-color: rgba($color-primary-700, 1);
				background-color: rgba($color-primary-700, 1);
			}
		}
	}
}
