@import '../../styles/tools/tools.mixins';

.cb-list {
	display: flex;
	flex-direction: column;

	> .item {
		@include font;
		@include disableable;
		@include transition(background);
		@include bordered(
			$top: false,
			$right: false,
			$bottom: false,
			$left: false
		);

		@include var(background, color-white);

		align-items: center;
		min-height: 48px;

		&.is-highlighted {
			@include var(background, color-gray-300);
		}

		&.is-hidden {
			@include hidden;
		}
	}

	&.-bordered {
		> .item {
			@include bordered($color: color(gray-300), $style: dotted);
		}
	}

	&.-hoverable {
		> .item {
			@include interactable;
			@include hoverable {
				@include var(background, color-gray-200);
			}
		}
	}

	&.-striped {
		> .item:nth-of-type(odd) {
			@include var(background, color-gray-100);
		}
	}

	&.-floatable {
		@include rounded;
		@include transition(opacity, $duration: 75ms);
		@include var(background, color-white);

		@include shadow;
		@include var(z-index, layer-3);

		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 100%;
	}
}
