@import "../../styles/mixins";

.cb-list {
	display: flex;
	flex-direction: column;

	padding: 0;
	margin: 0;

	> .item {
		@include font;
		@include disableable;
		@include transition(background);
		@include bordered(
			$top: false,
			$right: false,
			$bottom: false,
			$left: false
		);

		background: rgba($color-white, 1);

		align-items: center;
		min-height: 48px;

		&.is-highlighted {
			background: rgba($color-gray-300, 1);
		}

		&.is-hidden {
			@include hidden;
		}

		> .trailing {
			margin-left: auto;
		}
	}

	&.-bordered {
		> .item {
			@include bordered($color: rgba($color-gray-300, 1), $style: dotted);
		}
	}

	&.-hoverable {
		> .item {
			@include interactable;
			@include hoverable {
				background: rgba($color-gray-200, 1);
			}
		}
	}

	&.-striped {
		> .item:nth-of-type(odd) {
			background: rgba($color-gray-100, 1);
		}
	}

	&.-floatable {
		@include rounded(0);
		@include transition(opacity, $duration: 75ms);
		background: rgba($color-white, 1);

		@include shadow;
		z-index: $layer-3;

		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 100%;
	}
}
