@import '../../styles/index.scss';

.cb-button {
  @include transition(all);

  @include font;
  @include interactable;
  @include disableable;
  @include rounded;

  align-items: center;
  justify-content: center;

  text-decoration: none;
  text-transform: uppercase;

  @include var(background, color-transparent);
  @include var(border-color, color-gray-400);
  @include var(color, color-gray-600);

  & > .children {
    @include truncate;

    display: inline-block;
    text-align: center;
    line-height: 2rem;
  }

  @include focusable {
    @include var(z-index, layer-1);
  }

  @include hoverable {
    @include var(background, color-transparent);
    @include var(border-color, color-gray-500);
    @include var(color, color-gray-600);
  }

  &.-flat {
    @include var(background, color-primary-500);
    @include var(border-color, color-primary-500);
    @include var(color, color-white);

    @include hoverable {
      @include var(background, color-secondary-300);
      @include var(border-color, color-secondary-300);
      @include var(color, color-white);
    }
  }

  &.-ghost {
    @include var(background, color-transparent);
    @include var(border-color, color-primary-500);
    @include var(color, color-primary-500);

    @include hoverable {
      @include var(background, color-primary-500);
      @include var(border-color, color-primary-500);
      @include var(color, color-white);
    }
  }

  &.-text {
    @include var(background, color-transparent);
    @include var(border-color, color-transparent);
    @include var(color, color-primary-500);

    @include hoverable {
      @include var(background, color-transparent);
      @include var(border-color, color-transparent);
      @include var(color, color-secondary-300);
    }
  }

  &.-small {
    @include var(font-size, font-size-sm);
    height: 40px;
    min-width: 40px;
  }

  &.-medium {
    @include var(font-size, font-size-base);
    height: 56px;
    min-width: 56px;
  }

  &.-large {
    @include var(font-size, font-size-lg);
    height: 72px;
    min-width: 72px;
  }

  .leading,
  .trailing,
  .children {
    pointer-events: none;
  }
}
