@import '../../styles/tools/_tools.mixins';

.cb-pagination {
  @include font;
  @include p(spacing-2);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  list-style-type: none;
}
