@import "../../styles/mixins";

.cb-overlay {
	@include transition(background);
	@include font;

	@include m($spacing-0);
	@include p($spacing-4);

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: inherit;
	backdrop-filter: blur(10px);

	&.-light {
		background: white;
	}

	&.-dark {
		background: rgba(rgb(160, 174, 192), 0.85);
	}
}
