$active-indicator-height: spacing(1);

.cb-tabbed {
  width: 100%;
  margin: 0;
  padding: 0;

  & > .tabs {
    @include bordered(
      $top: false,
      $right: false,
      $left: false,
      $color: color(gray-200)
    );
    @include mx(spacing-0);
    @include var(margin-top, spacing-0);
    @include var(margin-bottom, spacing-2);

    @include px(spacing-0);
    @include py(spacing-0);

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    border-bottom-width: $active-indicator-height;
  }

  & > .tabs > .tab {
    @include font;
    @include transition(background color border opacity);
    @include interactable;
    // @include focusable;

    @include disableable;
    @include transition(color opacity);
    @include var(z-index, layer-1);

    @include var(color, color-gray-400);
    @include px(spacing-4);
    @include py(spacing-2);
    @include m(spacing-0);

    @include var(background, color-transparent);
    @include var(font-size, font-size-sm);
    @include var(font-weight, font-weight-medium);

    position: relative;
    display: inline-flex;

    cursor: pointer;
    user-select: none;

    text-transform: uppercase;

    &:not(:last-child) {
      @include my(spacing-0);
      @include var(margin-right, spacing-4);
      @include var(margin-left, spacing-0);

      html[dir='rtl'] & {
        @include var(margin-right, spacing-0);
        @include var(margin-left, spacing-4);
      }
    }

    &:hover:not(.is-active) {
      @include var(color, color-gray-600);
    }

    &.is-active {
      @include var(color, color-primary-600);
    }

    &.is-hidden {
      @include var(z-index, layer-0);

      visibility: hidden;
      position: absolute;
      right: 0;
    }
  }

  & > .tabs > .active-indicator {
    @include transition(
      left width,
      $duration: 0.45s,
      $easing: cubic-bezier(0.38, 0.8, 0.32, 1.07)
    );
    @include var(background, color-primary-500);

    display: inline-block;
    position: absolute;
    height: $active-indicator-height;
    width: 0;
    left: 0;
    bottom: calc(-1 * #{$active-indicator-height});
  }

  & > .tabs > .overflown-tabs {
    margin: 0 0 0 auto;
  }

  & > .panel {
    @include font;

    position: relative;
    animation: cb-enter normal 0.5s ease-out 1;

    display: none;
  }

  & > input[type='radio'] {
    @include hidden;

    &:checked + .panel {
      display: block;
    }
  }
}

@keyframes cb-enter {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
