@import '../../../styles/tools/tools.mixins';

.cb-block {
	@include font;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.-main {
		@include var(border-bottom-color, color-gray-500);
	}

	&:last-child {
		border-bottom: none;
	}
}
