$base-spacing: 1rem;
$spacings: (
	spacing-0: 0,
	spacing-1: calc(#{$base-spacing} * 0.25),
	spacing-2: calc(#{$base-spacing} * 0.5),
	spacing-3: calc(#{$base-spacing} * 0.75),
	spacing-4: $base-spacing,
	spacing-5: calc(#{$base-spacing} * 1.25),
	spacing-6: calc(#{$base-spacing} * 1.5),
	spacing-8: calc(#{$base-spacing} * 2),
	spacing-10: calc(#{$base-spacing} * 2.5),
	spacing-12: calc(#{$base-spacing} * 3),
	spacing-16: calc(#{$base-spacing} * 4),
);

@function spacing($spacing-name) {
	@return map-get($spacings, spacing-#{$spacing-name});
}
