// based on  https://material-ui.com/customization/color/

$colors: (
  color-primary-100: rgb(58, 127, 187),
  color-primary-200: rgb(53, 116, 172),
  color-primary-300: rgb(48, 106, 156),
  color-primary-400: rgb(43, 95, 140),
  color-primary-500: rgb(38, 84, 124),
  color-primary-600: rgb(34, 74, 109),
  color-primary-700: rgb(29, 63, 94),
  color-primary-800: rgb(24, 53, 78),
  color-primary-900: rgb(19, 42, 62),
  color-secondary-100: rgb(247, 161, 181),
  color-secondary-200: rgb(245, 142, 166),
  color-secondary-300: rgb(244, 124, 152),
  color-secondary-400: rgb(242, 105, 137),
  color-secondary-500: rgb(239, 71, 111),
  color-secondary-600: rgb(237, 49, 93),
  color-secondary-700: rgb(235, 30, 78),
  color-secondary-800: rgb(225, 20, 68),
  color-secondary-900: rgb(206, 18, 62),
  color-terciary-100: rgb(255, 237, 194),
  color-terciary-200: rgb(255, 231, 173),
  color-terciary-300: rgb(255, 224, 153),
  color-terciary-400: rgb(255, 218, 133),
  color-terciary-500: rgb(255, 209, 102),
  color-terciary-600: rgb(255, 200, 71),
  color-terciary-700: rgb(255, 194, 51),
  color-terciary-800: rgb(255, 188, 31),
  color-terciary-900: rgb(255, 188, 10),
  color-white: rgb(255, 255, 255),
  color-black: rgb(91, 91, 91),
  color-background: rgb(255, 252, 249),
  color-red-100: rgb(255, 205, 210),
  color-red-200: rgb(239, 154, 154),
  color-red-300: rgb(229, 115, 115),
  color-red-400: rgb(239, 83, 80),
  color-red-500: rgb(244, 67, 54),
  color-red-600: rgb(229, 57, 53),
  color-red-700: rgb(211, 47, 47),
  color-red-800: rgb(198, 40, 40),
  color-red-900: rgb(183, 28, 28),
  color-blue-100: rgb(179, 229, 252),
  color-blue-200: rgb(129, 212, 250),
  color-blue-300: rgb(79, 195, 247),
  color-blue-400: rgb(41, 182, 246),
  color-blue-500: rgb(3, 169, 244),
  color-blue-600: rgb(3, 155, 229),
  color-blue-700: rgb(2, 136, 209),
  color-blue-800: rgb(2, 119, 189),
  color-blue-900: rgb(1, 87, 155),
  color-green-100: rgb(220, 237, 200),
  color-green-200: rgb(197, 225, 165),
  color-green-300: rgb(174, 213, 129),
  color-green-400: rgb(156, 204, 101),
  color-green-500: rgb(139, 195, 74),
  color-green-600: rgb(124, 179, 66),
  color-green-700: rgb(104, 159, 56),
  color-green-800: rgb(85, 139, 47),
  color-green-900: rgb(51, 105, 30),
  color-gray-100: rgb(247, 250, 252),
  color-gray-200: rgb(237, 242, 247),
  color-gray-300: rgb(226, 232, 240),
  color-gray-400: rgb(203, 213, 224),
  color-gray-500: rgb(160, 174, 192),
  color-gray-600: rgb(113, 128, 150),
  color-gray-700: rgb(74, 85, 104),
  color-gray-800: rgb(45, 55, 72),
  color-gray-900: rgb(26, 32, 44),
  color-transparent: rgba(255, 255, 255, 0),
  color-warn: rgb(241, 196, 15),
  color-success: rgb(104, 159, 56),
  color-danger: rgb(244, 67, 54),
  color-info: rgb(3, 152, 226),
);

@function color($color-name, $color-variant: null) {
  @if ($color-variant != null) {
    @return map-get(map-get($colors, color-#{$color-name}), $color-variant);
  } @else {
    @return map-get($colors, color-#{$color-name});
  }
}
