// @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;500;700&display=swap');
@import url('https://use.typekit.net/abq0gqd.css');

$font-sizes: (
  font-size-xs: 0.75rem,
  font-size-sm: 0.875rem,
  font-size-base: 1rem,
  font-size-lg: 1.125rem,
  font-size-xl: 1.25rem,
  font-size-2xl: 1.5rem,
  font-size-3xl: 1.875rem,
  font-size-4xl: 2.25rem,
  font-size-5xl: 3rem,
  font-size-6xl: 4rem,
);

@function font-size($font-size-name: default) {
  @return map-get($font-sizes, font-size-#{$font-size-name});
}

$font-weights: (
  font-weight-light: 300,
  font-weight-default: 400,
  font-weight-medium: 600,
  font-weight-bold: 700,
);

@function font-weight($font-weight-name: default) {
  @return map-get($font-weights, font-weight-#{$font-weight-name});
}

$font-families: (
  // font-family-default: (
  //   'Heebo',
  //   sans-serif,
  // ),
  font-family-default: ('proxima-soft', sans-serif),
  font-family-condensed: ('proxima-soft-condensed', sans-serif)
);

@function font-family($font-family-name: default) {
  @return map-get($font-families, font-family-#{$font-family-name});
}

$line-heights: (
  line-height-tight: 1.25,
  line-height-snug: 1.375,
  line-height-default: 1.5,
  line-height-relaxed: 1.625,
);

@function line-height($line-height-name: default) {
  @return map-get($line-heights, line-height-#{$line-height-name});
}
