// based on  https://material-ui.com/customization/color/

$colors: (
  color-primary-100: #3a7fbb,
  color-primary-200: #3574ac,
  color-primary-300: #306a9c,
  color-primary-400: #2b5f8c,
  color-primary-500: #26547c,
  color-primary-600: #224a6d,
  color-primary-700: #1d3f5e,
  color-primary-800: #18354e,
  color-primary-900: #132a3e,
  color-secondary-100: #f7a1b5,
  color-secondary-200: #f58ea6,
  color-secondary-300: #f47c98,
  color-secondary-400: #f26989,
  color-secondary-500: #ef476f,
  color-secondary-600: #ed315d,
  color-secondary-700: #eb1e4e,
  color-secondary-800: #e11444,
  color-secondary-900: #ce123e,
  color-terciary-100: #ffedc2,
  color-terciary-200: #ffe7ad,
  color-terciary-300: #ffe099,
  color-terciary-400: #ffda85,
  color-terciary-500: #ffd166,
  color-terciary-600: #ffc847,
  color-terciary-700: #ffc233,
  color-terciary-800: #ffbc1f,
  color-terciary-900: #ffbc0a,
  color-white: white,
  color-black: #444,
  color-background: #fffcf9,
  color-red-100: #ffcdd2,
  color-red-200: #ef9a9a,
  color-red-300: #e57373,
  color-red-400: #ef5350,
  color-red-500: #f44336,
  color-red-600: #e53935,
  color-red-700: #d32f2f,
  color-red-800: #c62828,
  color-red-900: #b71c1c,
  color-blue-100: #b3e5fc,
  color-blue-200: #81d4fa,
  color-blue-300: #4fc3f7,
  color-blue-400: #29b6f6,
  color-blue-500: #03a9f4,
  color-blue-600: #039be5,
  color-blue-700: #0288d1,
  color-blue-800: #0277bd,
  color-blue-900: #01579b,
  color-green-100: #dcedc8,
  color-green-200: #c5e1a5,
  color-green-300: #aed581,
  color-green-400: #9ccc65,
  color-green-500: #8bc34a,
  color-green-600: #7cb342,
  color-green-700: #689f38,
  color-green-800: #558b2f,
  color-green-900: #33691e,
  color-gray-100: #f7fafc,
  color-gray-200: #edf2f7,
  color-gray-300: #e2e8f0,
  color-gray-400: #cbd5e0,
  color-gray-500: #a0aec0,
  color-gray-600: #718096,
  color-gray-700: #4a5568,
  color-gray-800: #2d3748,
  color-gray-900: #1a202c,
  color-transparent: rgba(255, 255, 255, 0),
  color-warn: #f1c40f,
  color-success: #689f38,
  color-danger: #f44336,
  color-info: #039be5,
);

@function color($color-name, $color-variant: null) {
  @if ($color-variant != null) {
    @return map-get(map-get($colors, color-#{$color-name}), $color-variant);
  } @else {
    @return map-get($colors, color-#{$color-name});
  }
}
