@import '../../styles/tools/_tools.mixins';

.cb-icon {
  @include transition(opacity transform);
  pointer-events: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: currentColor;

  transform-origin: 50% 50%;

  &.-success {
    @include var(fill, color-success);
  }

  &.-danger {
    @include var(fill, color-danger);
  }

  &.-warn {
    @include var(fill, color-warn);
  }

  &.-info {
    @include var(fill, color-info);
  }
}
