@import '../../styles/tools/tools.mixins';

.cb-icon {
	@include transition(color fill opacity transform);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	transform-origin: 50% 50%;
	pointer-events: none;
	fill: currentColor;

	&.-success {
		@include var(fill, color-success);
	}

	&.-danger {
		@include var(fill, color-danger);
	}

	&.-warn {
		@include var(fill, color-warn);
	}

	&.-info {
		@include var(fill, color-info);
	}
}
