@import '../../styles/tools/tools.mixins';

.cb-label {
	@include font;
	@include disableable;

	@include var(font-size, font-size-xs);
	@include var(font-weight, font-weight-medium);

	display: inline-flex;
	flex-flow: row wrap;
	text-transform: uppercase;

	&.-success {
		@include var(color, color-success);
	}

	&.-danger {
		@include var(color, color-danger);
	}

	&.-warn {
		@include var(color, color-warn);
	}

	&.-info {
		@include var(color, color-info);
	}
}
