@import "../../styles/mixins";

.cb-label {
	@include font;
	@include disableable;

	font-size: $font-size-xs;
	font-weight: $font-weight-medium;

	display: inline-flex;
	flex-flow: row wrap;
	text-transform: uppercase;

	&.-success {
		color: rgba($color-success, 1);
	}

	&.-danger {
		color: rgba($color-danger, 1);
	}

	&.-warn {
		color: rgba($color-warn, 1);
	}

	&.-info {
		color: rgba($color-info, 1);
	}
}
