.cb-calendar {
  @include font;

  position: relative;
  display: inline-flex;
  flex-direction: column;

  .input-toggle {
    @include rounded;
    @include var(background, color-gray-200);
    @include px(spacing-6);
    @include py(spacing-0);

    & > .input-day,
    & > .input-month,
    & > .input-year {
      background: transparent;
      width: 2rem;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  .year-selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @include px(spacing-6);
    @include var(padding-top, spacing-6);
    @include var(padding-bottom, spacing-0);
  }

  .year-month-display {
    display: grid;
    grid-template-rows: 24px 12px;

    @include px(spacing-4);
    @include var(font-size, font-size-2xl);
  }

  .batata {
    @include rounded(50%);
    @include var(background, color-gray-100);
    // @include var(border-color, color-primary-500);
    // @include var(color, color-primary-500);
    @include var(font-size, font-size-2xl);
    @include hoverable {
      @include var(background, color-gray-300);
      @include var(color, color-primary-500);
      // @include var(border-color, color-primary-500);
      // @include var(color, color-white);
    }
  }

  .batata + .batata {
    @include var(margin-left, spacing-2);
  }

  .year {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .month {
    @include var(font-size, font-size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);

    @include px(spacing-6);
    @include var(padding-top, spacing-3);
    @include var(padding-bottom, spacing-6);

    & > .day {
      @include font;
      @include var(font-size, font-size-xs);

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    & > .week-day {
      @include var(font-weight, font-weight-bold);
    }
  }

  // & > .menu {
  //   @include rounded;
  //   @include transition(max-height opacity);

  //   @include shadow;
  //   @include var(z-index, layer-3);
  //   @include var(background, color-white);

  //   overflow-x: hidden;
  //   overflow-y: auto;

  //   opacity: 1;

  //   position: absolute;

  //   @include mx(spacing-0);
  //   @include var(margin-bottom, spacing-0);
  //   @include var(margin-top, spacing-2);
  //   padding: 0;

  //   top: calc(100% - 1px);
  //   width: 20rem;
  // }
}
