@import "../../styles/mixins";

.cb-switch {
	@include font;
	@include disableable;
	@include interactable;

	align-items: center;
	justify-content: flex-start;

	.leading {
		position: relative;
	}

	.check {
		@include transition(left);

		color: rgba($color-white, 1);

		position: absolute;
		left: 0;
		fill: currentColor;
	}

	.selector:first-of-type {
		@include focusable;
		@include bordered;
		@include rounded(0.5rem);

		@include transition(background color border-color);

		flex-shrink: 0;
		outline: none;
		cursor: pointer !important;
		appearance: none;

		border-color: rgba($color-gray-300, 1);
		background-color: rgba($color-gray-300, 1);

		height: $spacing-4;
		width: $spacing-8;

		&:checked {
			border-color: rgba($color-primary-400, 1);
			background-color: rgba($color-primary-400, 1);
		}

		&:checked + .check {
			left: calc(32px - 16px);
		}
	}

	@include hoverable {
		.selector {
			border-color: rgba($color-gray-400, 1);
			background-color: rgba($color-gray-400, 1);

			&:checked {
				border-color: rgba($color-primary-500, 1);
				background-color: rgba($color-primary-500, 1);
			}
		}
	}
}
