@import '../../styles/tools/_tools.mixins';

.cb-switch {
  @include font;
  @include disableable;
  @include interactable;

  align-items: center;
  justify-content: flex-start;

  .check {
    @include transition(left);

    @include var(color, color-white);

    fill: currentColor;
    position: absolute;
    left: 2px;
  }

  .selector:first-of-type {
    @include focusable;
    @include bordered;
    @include rounded(0.5rem);

    @include transition(background color border-color);

    cursor: pointer !important;
    appearance: none;
    outline: none;

    @include var(border-color, color-gray-300);
    @include var(background-color, color-gray-300);

    flex-shrink: 0;

    @include var(height, spacing-4);
    @include var(width, spacing-8);

    &:checked {
      @include var(border-color, color-primary-500);
      @include var(background-color, color-primary-500);
    }

    &:checked + .check {
      left: calc(32px - 16px);
    }
  }

  @include hoverable {
    .selector {
      @include var(border-color, color-gray-400);
      @include var(background-color, color-gray-400);

      &:checked {
        @include var(border-color, color-primary-700);
        @include var(background-color, color-primary-700);
      }
    }
  }
}
