@import "../../styles/mixins";

.cc-wizard {
	display: block;

	> .header {
		@include font;
		@include bordered($top: false, $right: false, $left: false);
		@include p(spacing-0);
		@include mx($spacing-0);
		@include mt(spacing-0);
		@include mb(spacing-4);

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	> .header > .title {
		@include truncate(90%);
		font-weight: $font-weight-bold;
	}
}
