.cc-wizard {
  display: block;

  > .header {
    @include font;
    @include bordered($top: false, $right: false, $left: false);
    @include p(spacing-0);
    @include mx(spacing-0);

    @include var(margin-top, spacing-0);
    @include var(margin-bottom, spacing-4);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  > .header > .title {
    @include truncate(90%);
    @include var(font-weight, font-weight-bold);
  }

  & > .step {
    @include font;

    position: relative;
    animation: cb-animation-enter normal 0.25s ease-out 1;

    display: none;
  }

  & > input[type='radio'] {
    @include hidden;

    &:checked + .step {
      display: block;
    }
  }
}
