@import '../../styles/tools/_tools.mixins';

.cc-wizard {
  display: block;

  > .header {
    @include font;
    @include bordered($top: false, $right: false, $left: false);
    @include p(spacing-0);
    @include mx(spacing-0);

    @include var(margin-top, spacing-0);
    @include var(margin-bottom, spacing-4);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  > .header > .title {
    @include truncate(90%);
    @include var(font-weight, font-weight-bold);
  }
}
