@import "../../styles/mixins";

.cb-date-picker {
	@include font;

	position: relative;
	display: inline-flex;
	flex-direction: column;

	.input-toggle {
		width: 10ch;
		text-align: center;
	}

	.year-selector {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		@include px($spacing-6);
		@include pt($spacing-6);
		@include pb($spacing-0);
	}

	.year-month-display {
		display: grid;
		grid-template-rows: 24px 12px;

		@include px($spacing-4);
		font-size: $font-size-2xl;
	}

	.batata {
		@include rounded(50%);
		background: $color-gray-100;

		// border-color: $color-primary-500;
		// color: $color-primary-500;
		font-size: $font-size-2xl;
		@include hoverable {
			background: $color-gray-300;
			color: $color-primary-500;

			// border-color: $color-primary-500;
			// color: $color-white;
		}
	}

	.batata + .batata {
		margin-left: $spacing-2;
	}

	.year {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.month {
		font-size: $font-size-xs;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .cb-dropdown.is-expanded > .menu {
		max-height: initial;
	}

	// & > .menu {
	//   @include rounded;
	//   @include transition(max-height opacity);

	//   @include shadow;
	//   z-index: $layer-3;
	//   background: $color-white;

	//   overflow-x: hidden;
	//   overflow-y: auto;

	//   opacity: 1;

	//   position: absolute;

	//   @include mx($spacing-0);
	//   margin-bottom: $spacing-0;
	//   margin-top: $spacing-2;
	//   padding: 0;

	//   top: calc(100% - 1px);
	//   width: 20rem;
	// }
}
