@import "../../styles/mixins";

.cb-link {
	@include font;
	@include interactable;
	@include disableable;

	@include transition(background color);

	position: relative;
	margin: 0;
	padding: 0;
	text-decoration: none;

	&,
	&:visited {
		color: rgba($color-primary-500, 1);
	}

	@include hoverable {
		color: rgba($color-secondary-400, 1);
	}

	& + & {
		@include my($spacing-0);
		margin-left: $spacing-4;
		margin-right: $spacing-0;
	}

	&.-animated {
		&::after {
			@include transition(transform, $duration: 0.25s);
			background-color: rgba($color-secondary-100, 1);

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transform: scaleX(0);
			transform-origin: bottom right;
			content: "";
		}

		@include hoverable {
			&::after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
}
