.cb-link {
  @include font;
  @include interactable;
  @include disableable;

  @include transition(background color);

  text-decoration: none;

  padding: 0;
  margin: 0;

  &,
  &:visited {
    @include var(color, color-primary-500);
  }

  @include hoverable {
    @include var(color, color-secondary-400);
  }

  & + & {
    @include my(spacing-0);
    @include var(margin-left, spacing-4);
    @include var(margin-right, spacing-0);
  }

  &.-animated {
    &::after {
      @include transition(transform, $duration: 0.25s);
      @include var(background-color, color-secondary-100);

      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;

      transform-origin: bottom right;
    }

    @include hoverable {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
