@import "../../styles/mixins";

.cb-badge {
	@include font;
	@include px($spacing-4);
	@include py($spacing-1);

	display: inline-flex;

	height: $spacing-6;
	line-height: $spacing-6;
	border-radius: $spacing-3;
	font-size: $font-size-sm;

	align-items: center;

	background: rgba($color-gray-600, 1);
	color: rgba($color-white, 1);

	&.-primary {
		background: rgba($color-primary-100, 1);
	}

	&.-secondary {
		background: rgba($color-secondary-500, 1);
	}

	&.-terciary {
		background: rgba($color-terciary-500, 1);
		color: rgba($color-black, 1);
	}

	& + & {
		@include my($spacing-0);
		@include ml($spacing-1);
		@include mr($spacing-0);
	}
}
